.transactionHistory {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.transactionHistory > thead {
  background-color: rgb(2, 106, 175);
  height: 40px;
  color: aliceblue;
}
.transactionHistory > tbody > tr {
  height: 40px;
}
.transactionHistory > tbody > tr:nth-child(2n) {
  background-color: rgb(224, 230, 159);
}
